<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>

{{#if name}}
  <h1>{{name}}</h1>
{{else}}
  <h1>API Reference</h1>
{{/if}}

  <ul class="api-listing">
  {{#each meta}}
    <li class="api">
      <h2>{{name}}</h2>
      <ul class="params">
      {{#each params}}
        <li></li>
      {{/each}}
      </ul>
    </li>
  {{/each}}
  </ul>

</body>
</html>
